# PostgreSQL Exporter Environment Variables
DATA_SOURCE_NAME="postgresql://repmgr:{{ vault_repmgr_password }}@localhost:{{ postgresql.port }}/repmgr?sslmode=disable"
PG_EXPORTER_EXTEND_QUERY_PATH="/etc/prometheus/postgres_exporter_queries.yml"
