[pgbouncer]
listen_addr = *
listen_port = {{ pgbouncer.port }}
auth_type = {{ pgbouncer.auth_type }}
auth_file = /etc/pgbouncer/userlist.txt
pool_mode = {{ pgbouncer.pool_mode }}
max_client_conn = {{ pgbouncer.max_client_conn }}
default_pool_size = {{ pgbouncer.default_pool_size }}
reserve_pool_size = {{ pgbouncer.reserve_pool_size }}

[databases]
* = host={{ network.db_vip }} port={{ postgresql.port }}
